/* Общие стили */

*,
*::after,
*::before {
    box-sizing: inherit;
}

:root {
    --basic_black: #323232;
    --basic_white: #ffffff;
    --basic_grey: #5A5A5A;
    --background_1: #849D8F;
    --background_2: #8996A6;
    --background_3: #9D8B84;
    --background_field: #F8F7F4;
    --transparent: rgba(255, 255, 255, 0.2);
    --gradient: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    --gradient_hover: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    --text_shadow: rgba(160, 32, 11, 0.76);
    --box_shadow: rgba(172, 16, 0, 0.64);
    --form_shadow: rgba(0, 0, 0, 0.4);
    --shadow_active_grey: #696969;
    --shadow_hover: #AC1000;
    --shadow_active: #942718;
    --selected_field: #D07058;
    --hover_field: #FBDED7;
    --active_field: #F6B5A5;
    --hover_link_white: #FFBC9E;
    --hover_link_black: #E84D37;
    --input_border: #D3D3D2;
    --underline_black: rgba(50, 50, 50, 0.3);
    --outline: rgba(255, 255, 255, 0.5);
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    width: 1200px;
    display: grid;
    min-height: 100%;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    margin: 0 auto;
    padding: 0 27px;
    background-color: var(--background_1);
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: var(--basic_black);
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--basic_white)
}

button {
    border: none;
    font: inherit;
}

figure {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}


/* Стандартные классы */

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.underline {
    position: relative;
}

.underline::before {
    content: '';
    position: absolute;
    height: 1px;
    left: 0px;
    right: 0px;
    bottom: -1px;
    background: var(--transparent);
}

.underline-black {
    position: relative;
}

.underline-black::before {
    content: '';
    position: absolute;
    height: 1px;
    left: 0px;
    right: 0px;
    bottom: -1px;
    background: var(--underline_black);
}


/* Кнопки и поля*/

.button {
    display: inline-block;
    padding: 15px 22px;
    background: var(--gradient);
    box-shadow: 0px 2px 2px var(--box_shadow);
    border-radius: 70px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic_white);
    text-shadow: 0px 2px 5px var(--text_shadow);
}

.button:hover,
.button:focus {
    background: var(--gradient_hover);
    box-shadow: 0px 1px 2px var(--shadow_hover)
}

.button:active {
    background: var(--gradient);
    box-shadow: inset 0px 2px 2px var(--shadow_active);
}

.new-items__button {
    align-self: center;
    padding: 9px 23px;
    border-radius: 70px;
    font-size: 32px;
    line-height: 44px;
}

.new-items__button:hover,
.new-items__button:focus {
    box-shadow: 0px 2px 2px var(--shadow_hover);
}

.new-items__button:active {
    box-shadow: inset 0px 2px 2px var(--shadow_active);
}

.mailing-form__button {
    margin-left: 10px;
    padding: 10px 19px;
}

.header__button {
    margin-right: 8px;
    padding: 8px;
    border-radius: 20px;
    background: var(--transparent);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--basic_white);
}

.input {
    padding: 15px;
    background: var(--basic_white);
    border-radius: 6px;
    border: 1px solid var(--input_border);
    font: inherit;
    font-size: 14px;
    line-height: 16px;
}


/* Header */

.main-header {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.main-navigation {
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic_white);
}

.user-navigation__wrapper {
    display: flex;
    align-items: center;
}

.contact-header {
    position: absolute;
    bottom: -100%;
    right: 0;
}

.main-navigation__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.main-navigation__item {
    margin-right: 6px;
    padding: 5px 13px;
}

.main-navigation__item:hover,
.main-navigation__item:focus {
    background-color: var(--basic_white);
    border-radius: 26px;
    color: var(--basic_black);
}

.main-navigation__item:hover>a,
.main-navigation__item:focus>a {
    color: var(--basic_black);
}

.main-navigation__item:active {
    background: var(--background_field);
    box-shadow: inset 0px 2px 1px var(--shadow_active_grey);
    border-radius: 26px;
}

.catalog {
    position: relative;
}

.catalog .dropdown-list {
    display: none;
    z-index: 10;
    padding: 14px 20px;
    background-color: var(--basic_white);
    box-shadow: 0px 20px 20px var(--form_shadow);
    border-radius: 4px;
    color: var(--basic_black);
    font-weight: normal;
    font-size: 14px;
}

.catalog:hover .dropdown-list {
    display: block;
    position: absolute;
    top: 32px;
    left: 0;
    margin: 0;
}

.dropdown-list:hover,
.dropdown-list:focus {
    display: block;
}

.dropdown-list li:first-child {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
}

.dropdown-list a {
    color: var(--basic_black);
}

.dropdown-list li:hover,
.dropdown-list li:focus {
    background-color: var(--hover_field);
}

.dropdown-list li:active {
    background-color: var(--active_field);
}

.search {
    margin-left: auto;
    position: relative;
}

.search__button {
    border-radius: 999px;
}

.search__button svg {
    display: block;
}

.search__button:hover svg,
.login__button:hover svg,
.basket__button:hover svg {
    fill: var(--basic_black);
}

.search__button:hover,
.login__button:hover,
.basket__button:hover {
    background-color: var(--basic_white);
    color: var(--basic_black);
}

.search .drop-form {
    display: none;
    position: absolute;
}

.search:hover .drop-form {
    display: block;
}

.login {
    position: relative;
}

.login .drop-form {
    display: none;
    position: absolute;
    z-index: 1;
}

.login__form {
    padding: 20px;
}

.login:hover .drop-form {
    display: block;
}

.login__button,
.basket__button {
    padding: 8px 16px;
    display: flex;
    align-items: center;
}

.basket__button {
    margin-right: 0;
}

.login__button svg,
.basket__button svg {
    display: block;
    margin-right: 8px;
}

.drop-form {
    background-color: var(--background_field);
    box-shadow: 0px 20px 20px var(--form_shadow);
    border-radius: 4px;
}

.drop-form__button {
    padding: 15px 25px;
    font-size: 18px;
    line-height: 16px;
}

.help-link {
    font-size: 13px;
    line-height: 15px;
    color: var(--basic_black);
}

.contact__time {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: var(--basic_white);
}

.contact__phone {
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
}


/* Index main */

.main-container {
    margin-bottom: 15px;
}

.container {
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(4, 1fr);
}

.new-items {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 40px;
}

.new-items fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

.promo__text {
    width: 670px;
    margin: 0 auto;
    margin-bottom: 27px;
    padding-top: 350px;
    font-weight: bold;
    font-size: 60px;
    line-height: 100%;
    text-align: center;
    color: var(--basic_white);
}

.promo__img {
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translate(-50%, 0);
    /*     margin-top: -325px;
    margin-left: -295px; */
    /*     display: block;
    margin: 0 auto; */
}

.stock {
    margin-bottom: 40px;
}

.stock__list {
    margin: 0;
    padding: 0;
}

.stock__column {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 16px;
    border-radius: 16px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: var(--basic_white);
    background-size: cover;
}

.stock__column p {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}

.raspberries {
    background-image: url("../img/decoration/raspberries_background.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}

.chocolate {
    background-image: url("../img/decoration/chocolate_background.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}

.stock__title {
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
    font-size: 35px;
    line-height: 41px;
}

.stock__button {
    margin: 6px;
    margin-top: auto;
    margin-left: auto;
}

.hit {
    margin-bottom: 40px;
}

.hit__list {
    margin: 0;
    padding: 0;
}

.card {
    position: relative;
}

.card__content {
    color: var(--basic_white);
    font-weight: 500;
}

.card__img {
    border-radius: 50%;
    position: absolute;
    z-index: -1;
}

.card__price {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    padding-top: 210px;
    font-weight: bold;
    font-size: 45px;
    line-height: 45px;
}

.card__text {
    display: inline-block;
    text-align: center;
}

.card__text a {
    border-bottom: 1px solid var(--transparent);
}

.card__text a:hover,
.card__text a:focus,
.card__text a:active {
    color: var(--hover_link_white);
    border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.card .quick-view__button {
    display: none;
}

.card:hover .quick-view__button {
    display: block;
}

.card:hover {
    background-color: var(--transparent);
    box-shadow: 0px 20px 20px var(--form_shadow);
}

.hit__icon {
    position: absolute;
    top: 0;
    left: 0;
}

.unit {
    font-size: 30px;
    line-height: 35px;
}

.about {
    margin-bottom: 40px;
    padding: 25px 20px;
    background-image: url("../img/decoration/pattern.jpg");
    background-repeat: repeat;
    border-radius: 16px;
}

.about__title {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}

.about-list {
    margin: 0;
    padding: 0;
    display: grid;
    align-items: flex-start;
    gap: 26px;
    grid-template-columns: repeat(4, 1fr);
}

.about-list__item {
    grid-column: span 2;
    position: relative;
    margin-left: 55px;
}

.ice::before {
    content: '';
    position: absolute;
    width: 49px;
    height: 49px;
    top: -15px;
    left: -55px;
    background-image: url("../img/decoration/icon_ice.svg");
    background-color: transparent;
}

.leaf::before {
    content: '';
    position: absolute;
    width: 49px;
    height: 49px;
    top: -15px;
    left: -55px;
    background-image: url("../img/decoration/icon_leaf.svg");
    background-color: transparent;
}

.cow::before {
    content: '';
    position: absolute;
    width: 49px;
    height: 49px;
    top: -15px;
    left: -55px;
    background-image: url("../img/decoration/icon_cow.svg");
    background-color: transparent;
}

.temp::before {
    content: '';
    position: absolute;
    width: 49px;
    height: 49px;
    top: -15px;
    left: -55px;
    background-image: url("../img/decoration/icon_temp.svg");
    background-color: transparent;
}

.wrapper-block {
    margin-bottom: 40px;
}

.new-items-blog {
    grid-column: span 2;
    padding: 20px;
    padding-right: 250px;
    min-height: 220px;
    background-image: url("../img/decoration/strawberries_background.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    border-radius: 16px;
}

.new-items-blog__title {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.new-items-blog__link {
    width: 290px;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-decoration: underline;
    color: var(--basic_black);
}

.new-items-blog__link:hover,
.new-items-blog__link:focus,
.new-items-blog__link:active {
    color: var(--hover_link_black)
}

.mailing {
    grid-column: span 2;
    padding: 5px 6px;
    background-image: url("../img/decoration/mail_background.png");
    background-position: top center;
    background-repeat: no-repeat;
    border-radius: 16px;
}

.mailing__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 30px 20px 35px;
    background-color: var(--background_field);
    border-radius: 16px;
}

.mailing__text {
    margin: 0;
    color: var(--basic_grey);
}

.mailing-form {
    display: flex;
    margin-top: auto;
}

.mailing-form__input {
    flex-grow: 1;
    background: var(--basic_white);
    border: 1px solid var(--input_border);
    border-radius: 6px;
}

.contacts {
    margin: 0 -27px;
    margin-bottom: 15px;
    padding: 62px 0;
    background-image: url("../img/decoration/map_with_icon.png");
    background-position: top center;
    background-repeat: no-repeat;
}

.contacts__container {
    margin: 0 27px;
    margin-left: auto;
    padding: 25px 25px;
    max-width: 303px;
    background-color: var(--basic_white);
    border-radius: 16px;
    font-size: 14px;
    line-height: 20px;
}

.contacts__container>div {
    margin-bottom: 25px;
}

.contacts__container p {
    margin: 0;
}

.contacts__text {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic_black);
}

.phone {
    padding-top: 5px;
}


/* Catalog main */

.catalog-conteiner {
    display: grid;
}

.catalog-heading {
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
    color: var(--basic_white);
}

.breadcrumbs {
    font-size: 14px;
    line-height: 16px;
}

.sort-form {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--basic_white);
}

.sort-form fieldset {
    border: none;
}

.sort-form__sorting {
    background-color: var(--transparent);
    border: none;
    border-radius: 20px;
    font: inherit;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic_white);
}

.sort-form__fatty label,
.sort-form__fillers label {
    font: inherit;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic_white);
}

.sort-form__button {
    background-color: var(--transparent);
    border: 2px solid var(--basic_white);
    border-radius: 20px;
    font: inherit;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: var(--basic_white);
}

.page-navigation {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic_white);
}


/* Footer */

.main-footer {
    display: flex;
    margin-bottom: 25px;
    font-size: 13px;
    line-height: 18px;
}

.social-media {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 215px;
    margin-right: 210px;
}

.social-media__item {
    margin-right: 8px;
}

.footer-side-menu {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    height: 40px;
    margin: 0;
    padding: 0;
}

.side-menu__item {
    margin-right: 30px;
    margin-bottom: 8px;
}

.side-menu__item a:hover,
.side-menu__item a:focus,
.side-menu__item a:active {
    color: var(--hover_link_white);
    border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.important {
    position: relative;
    font-weight: bold;
}

.important::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 13px;
    left: -20px;
    right: 0px;
    bottom: 0px;
    background-image: url("../img/decoration/heart.svg");
    background-color: transparent;
}

.social__button svg {
    margin: 2px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 2px var(--outline);
}

.social__button:hover svg,
.social__button:focus svg,
.social__button:active svg {
    fill: var(--basic_white)
}

.social__button:active svg {
    border-radius: 50%;
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.8);
}


/* Модальное окно */

.modal {
    background: var(--background_field);
    border-radius: 6px;
}